<h1>Chatrooms</h1>
<% @chatrooms.each do |chatroom| %>
<% if chatroom.private? && current.user.admin == true %>
  <h2><%= link_to chatroom.name, chatroom_path(chatroom) %></h2>
<% end %>
  <% else %>
  <h2><%= link_to chatroom.name, chatroom_path(chatroom) %></h2>
  <% end %>
<% end %>
